<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home: Bretech Solutions</title>
  </head>
  <body>
    <h1>Bretech App</h1>
    <h3>Welcome {{ name }}</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum
      atque totam maxime cum illum, rerum asperiores officiis laborum debitis
      accusantium id autem quas, tempora, amet unde fugiat fuga facere.
    </p>
  </body>
</html>
